html{
    overflow: hidden;
}
body{
    float: left;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    margin-top: 50px;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: #ffffff;
}

/*Header*/

header{
    float: left;
}
#container{
    background-image: url('bc.jpeg');
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    float: left;
}
#header-container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    position: absolute;
    float: left;
    background-color: rgba(0,0,0, 0.7);
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}



.title-box{
    position: absolute;
}
.title-name{
    position: relative;
    margin-left: 152px;
    margin-top: 20px;
    float: left;
    font-size: 20px ;
}
.title-name:hover{
    color: #3cb878;
}
.log-in{
    color: #32823C;
    cursor: pointer;
}
.log-in-btn:hover{
    text-decoration: underline #32823C;
}
.authorization-cnt{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 370px;
    height: 20px;
    position: absolute;
    right: 75px;
    top: 20px;
    float: right;
}
.ath-btn{
    float: right;
    color: #ffffff;
    display: inline;
    margin: 0;
}

/*Sprites*/

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    position: absolute;
}
.sprite-calendar:hover{
    background: url(../img/calendar_h.png) no-repeat top center;

}
.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -34px -5px;
    position: absolute;
    margin-left: 38px;
}
.sprite-forum:hover{
    background: url(../img/forum_h.png) no-repeat top center;

}
.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
    position: absolute;
    margin-left: 84px;
}
.sprite-journey:hover{
    background: url(../img/journey_h.png) no-repeat top center;

}



/*Form*/

#authorization-form{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 444px;
    height: 620px;
    margin: 0 auto;
    position: relative;
    clear: both;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px #000000 ;

}
.green-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    float: left;
    position: absolute;
    top: 29px;
    background-color: #3cb878;
}
.button{
    text-align: center;
    margin-top: 30px;
}

.qwe{
    text-align: center;
    margin-top: 5px;
}
#form{
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 322px;
    margin-left: 60px;
    clear: both;
    position: relative;
}
.top-btn{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 325px;
    height: 80px;
    margin-left: 60px;
    margin-top: 29px;
    float: left;
    position: relative;
}
.sign-up{
    font-size: 15px;
    margin: 0;
    float: left;
    display: inline;
    color: #434343;

}
.log-in-form{
    float: right;
    margin: 0;
    display: inline;
    font-size: 14px;
    color: #32823C;
}
.log-in-form:hover{
    text-decoration: underline green;
}
/*FACEBOOK*/
#fb{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 157px;
    height: 46px;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #305db8;
}
.fb-icon{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    left: 20px;
    top: 10px;
    margin: 0;
    font-size: 20px ;
    text-align: center;
    border-right: 1px solid #2b54a5;
}
.f{
    position: absolute;
    margin: 0;
    left: 6px;
    font-size: 24px ;
}
.fb-name{
    position: absolute;
    display: inline;
    margin: 0;
    left: 70px;
    top: 15px;
}
.fg-btn{
    cursor: pointer;
}

/*GOOGLE*/


#google{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 157px;
    height: 46px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #df4a32;
}
.ggl-icon{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border-right: 1px solid #c8422d;

}
.g{
    position: absolute;
    margin: 0;
    top: 5px;
}
.ggl-name{
    position: absolute;
    margin: 0;
    right: 35px;
    top: 15px;
    text-align: center;
}

.bar{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 135px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 62px;
    float: left;
    border-bottom: 2px solid  #eaeaea;
}
.or{
    margin-left: 20px;
    margin-top: 26px;
    float: left;
}

.bar2{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 135px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 60px;
    float: right;
    border-bottom: 2px solid  #eaeaea;
}


/*Form btns*/

#name{

}

.menu{
    width: 305px;
    height: 46px;
    margin-bottom: 17px;
    
}
input.menu{
    outline: none;
    border: 1px solid #eaeaea;
    padding-left: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
input.menu:focus{
    box-shadow: 0 0 15px rgba(0,0,0, 0.3);
}


#terms{
    position: absolute;
    left: 0;
}
.terms {
    color: #32823C;

}
label{
    position: absolute;
    left: 30px;
}

input [type="checkbox"]:checked + label::before{
    content: '\2714';
    color: #3cb878;
}


#submit{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;

}
